* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #4158d0;
  background-image: linear-gradient(
    225deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

h4 {
  text-align: center;
  color: #fff;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select[disabled] {
  opacity: 0.6;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 180px;
}

button:hover {
  background-color: #135d16;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.section-heading {
  display: block;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: -18px;
  margin-bottom: 10px;
  display: block;
}

.error-border {
  border: 1px solid #ff0000;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

.flex-div > div {
  flex: 1;
  margin: 5px 8px;
}

.single-div {
  margin: 5px 8px;
}

.submit-div {
  display: flex;
  justify-content: center;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
    padding: 20px;
  }

  input,
  select,
  textarea {
    margin-bottom: 10px;
  }

  button {
    padding: 8px;
  }

  .main-container {
    margin: 20px;
  }

  .flex-div {
    display: block;
  }

  .error {
    margin-top: -8px;
  }
}
